In [1]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")

NameError: name 'pandas' is not defined

In [2]:
import pandas

In [3]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [4]:
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df7 = df7.set_index("Address")

In [6]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [7]:
df7.loc["332 Hill St","Country"]

'USA'

In [8]:
df7.loc["USA"]

KeyError: 'the label [USA] is not in the [index]'

In [9]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114